* Name : Aniket Kale
* DSS770 Python Programming

# Pages 127 to 136; Odd examples

In [1]:
range(2,14,4)

range(2, 14, 4)

In [2]:
print(list(range(1,6)))

[1, 2, 3, 4, 5]

In [3]:
# we can see the iteration of range.
for row in range(1,6):
    print(row)

1
2
3
4
5

In [4]:
range(5)

range(0, 5)

In [5]:
n = 7
for i in range(n):
    print(i, end = " ")
    n = 3

0 1 2 3 4 5 6

In [6]:
# disply the output
list(range(4,24,5))

[4, 9, 14, 19]

In [7]:
list1 = list(range(-18, -22,-1))
list1

[-18, -19, -20, -21]

In [8]:
list(range(14,30,3))

[14, 17, 20, 23, 26, 29]

# RANGE(START, STOP, STEP)

In [9]:
for i in range(1,5):
    print("Pass #" + str(i))

Pass #1
Pass #2
Pass #3
Pass #4

In [10]:
num = 5
for i in range(num, 2*num -2):
    print(i)

5
6
7

In [11]:
for i in range(10, 20, 2):
    print(i)
    print("what do we appreciate ?")

10
what do we appreciate ?
12
what do we appreciate ?
14
what do we appreciate ?
16
what do we appreciate ?
18
what do we appreciate ?

In [12]:
num_of_sib = 0
word = "startgazer"
for row in word:
    if (row == "s") and (row == "r"):
        num_of_sib +=1
print(num_of_sib)

0

In [13]:
for row in "python":
    continue
print(row)

n

In [14]:
num_of_even  = 0
sum_of_even = 0
list1 = [2,5,4,8,6,1,3,9]
for num in list1:
    if num % 2 == 0:
        num_of_even += 1
        sum_of_even += num
print(num_of_even, sum_of_even)

4 20

In [15]:
list1 = ["Aniket", "aniketkale", "devidas", "rashin", "Unitedstates"]
minletters = 100
for row in list1:
    print(len(row))
    if len(row) < minletters:
         minletters = len(row)
print(minletters)

6
10
7
6
12
6

In [16]:
list1 = [1, 2, 4, "rashin", "Unitedstates"]
for item in list1:
    if isinstance(item,str):
        break
print(item)

rashin

In [17]:
# Reading Text file and processing it for further operation
sumeven = 0
infile = open("Numbers(2).txt", 'r')
for line in infile:
    if eval(line) % 2 == 0:
        sumeven += eval(line)   
print(sumeven)
infile.close()

18

In [18]:
infile = open("States(2).txt", 'r')
for line in infile:
    if line.startswith("North"):
        print(line, end = "")

North Carolina
North Dakota

In [19]:
# copy past function from one list to antother
list1 = [2,4,3,5]
list2 = []
for row in list1:
    if row not in list2:
        list2.append(row)
print(list2)

[2, 4, 3, 5]

In [20]:
for i in range(1,20):
    if i  != 13:
        print(i, end = ",")

1,2,3,4,5,6,7,8,9,10,11,12,14,15,16,17,18,19,

In [21]:
num = 1
while num < 9 :
    print(num)
    num +=2

1
3
5
7

In [22]:
# used for loop for five year
n = 10
for row in range(0,5):
    n = n - (n*0.12)    
print("Amount of cobalt after five Year in Gm",n)

Amount of cobalt after five Year in Gm 5.277319168

In [23]:
# Only count the vowels
inp = input("Enter a string :")
count = 0
v = ["a", "o", "i", "e", "u"]
for row in inp:
    for line in v:
        if row == line:
             count += 1
print(count)

Enter a string :aniket
3

In [24]:
for row in range(1,100):
     row += row
print(row)

198

In [25]:
age = eval(input("Enter age:"))
exp = 65- age
salary = eval(input("Enter salary:"))
if salary > 0:
    for row in range(age, exp):
        s = (1.15*row) + salary
        print("Each year salary" + str(s))
print("Salary after" + str(exp) + " Years "+ str(s) )

Enter age:23
Enter salary:1000
Each year salary1026.45
Each year salary1027.6
Each year salary1028.75
Each year salary1029.9
Each year salary1031.05
Each year salary1032.2
Each year salary1033.35
Each year salary1034.5
Each year salary1035.65
Each year salary1036.8
Each year salary1037.95
Each year salary1039.1
Each year salary1040.25
Each year salary1041.4
Each year salary1042.55
Each year salary1043.7
Each year salary1044.85
Each year salary1046.0
Each year salary1047.15
Salary after42 Years 1047.15

grade = eval(input("Enter a grade :"))
while True:
    if grade > 0:
        grade1 = eval(input("Enter a grade1 :"))
        if grade1 > 0:
            grade2 = eval(input("Enter a grade1 :"))
            grade = (grade1+grade2+grade)/3
print(grade)

In [27]:

for row in range(2014,2019):
    quantity = float(input("enter quantity"))
    if quantity > 0:
        price = 20 - (0.1*(quantity))
        q = 5*(price)-10
        print("Year of " + str(row) + " price and quantity", price, q)
print(price,q)

enter quantity80
Year of 2014 price and quantity 12.0 50.0
enter quantity100
Year of 2015 price and quantity 10.0 40.0
enter quantity200
Year of 2016 price and quantity 0.0 -10.0
enter quantity300
Year of 2017 price and quantity -10.0 -60.0
enter quantity100
Year of 2018 price and quantity 10.0 40.0
10.0 40.0

In [48]:
a = 20000
b = 10000
for item in range(1,11):
    c = a + 1000*item
    b = a + 500*item    
print("Option 1 earn at the end of 10 year", c) 
print("Option 2 earn at the end of 10 year", b)

Option 1 earn at the end of 10 year 30000
Option 2 earn at the end of 10 year 25000

In [74]:
infile = open("Final(1).txt", 'r')
count = 0
for row in infile:
    if row > "0":
        count += 1
print(count)

24

In [93]:
infile = open("Final(1).txt", 'r')
sum1 = 0
count = 24
for row in infile:
    row = int(row)
    sum1 = sum1 + row
avg = sum1/count
c = 0
if row > avg:
    c += 0
print(c)
print("percentage", c/24)                
print("average", avg)

0
percentage 0.0
average 83.25

In [103]:
a = input("enter a sentence:")
for row in a:
    if row != "r":
        print(a)
    else:
      break

enter a sentence:anir
anir
anir
anir